model = "gpt-5.2-codex"
model_reasoning_effort = "medium"

[features]
web_search_request = true

[sandbox_workspace_write]
network_access = true

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true

[notice.model_migrations]
"gpt-5.1-codex-max" = "gpt-5.2-codex"
gpt-5-codex = "gpt-5.2-codex"

[projects."/Users/paul/Projects/gremllm"]
trust_level = "trusted"

