#!/usr/bin/env bash

## Navigation ##

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'

alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias p='cd ~/Projects'
alias g='git'
alias lg='lazygit'

## Listing & Search ##

if ls --color >/dev/null 2>&1; then
        # GNU `ls`
        colorflag='--color'
        export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else
        # macOS `ls`
        colorflag='-G'
        export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

alias ls="command ls ${colorflag}"
alias l="ls -lhF ${colorflag}"
alias la="ls -lAF ${colorflag}"
alias lsd="ls -lF ${colorflag} | command grep '^d'"

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

## Shell Helpers ##

alias sudo='sudo '
alias week='date +%V'
alias update='brew update; brew upgrade; brew cleanup'
alias reload='exec "${SHELL}" -l'
alias path='echo "$PATH" | tr ":" "\n"'

command -v hd >/dev/null || alias hd='hexdump -C'
command -v md5sum >/dev/null || alias md5sum='md5'
command -v sha1sum >/dev/null || alias sha1sum='shasum'

jscbin='/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc'
[ -e "${jscbin}" ] && alias jsc="${jscbin}"
unset jscbin

## macOS System ##

alias flush='dscacheutil -flushcache && killall -HUP mDNSResponder'
alias lscleanup='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder'

# Destructive: permanently deletes Trash, old ASL logs, and quarantine history.
alias emptytrash='sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* "delete from LSQuarantineEvent"'

alias show='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

alias spotoff='sudo mdutil -a -i off'
alias spoton='sudo mdutil -a -i on'
alias plistbuddy='/usr/libexec/PlistBuddy'
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"
alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

## Network ##

alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias localip='ipconfig getifaddr en0'
alias ips='ifconfig -a | grep -o "inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)" | awk "{ sub(/inet6? (addr:)? ?/, \"\"); print }"'
alias ifactive='ifconfig | pcregrep -M -o "^[^\t:]+:([^\n]|\n\t)*status: active"'

## Clipboard / Text / Files ##

alias c="tr -d '\n' | pbcopy"
alias cleanup='find . -type f -name "*.DS_Store" -ls -delete'

alias urlencode='python3 -c "import sys, urllib.parse as ul; raw = sys.argv[1] if len(sys.argv) > 1 else sys.stdin.read(); print(ul.quote_plus(raw.strip()))"'
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'
alias map='xargs -n1'
alias mog='mogrify -strip -interlace Plane -quality 85% -resize 640'
alias strip-vtt='sed -E "/^[0-9]+:[0-9]+:[0-9]+[.][0-9]+ --> [0-9]+:[0-9]+:[0-9]+[.][0-9]+/d"'

## Language Defaults ##

alias python='python3'
alias pip='pip3'
alias cat='bat'
alias vi='nvim'
alias ping='prettyping --nolegend'
alias activate='source .venv/bin/activate'
alias repl='clj -M:repl/interactive'

## Dev Tools ##

alias rr='roborev'

## Browsers ##

alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'
alias chromekill='pids=$(ps ux | command grep "[C]hrome Helper --type=renderer" | command grep -v extension-process | tr -s " " | cut -d " " -f2); [ -n "$pids" ] && kill $pids || echo "No Chrome renderer tabs found."'

## DevOps / Infra ##

alias dc='docker compose'
alias t='terraform'
alias ecr='aws --region=us-west-2 ecr get-login-password | docker login --username AWS --password-stdin 658488433453.dkr.ecr.us-west-2.amazonaws.com'
alias du='ncdu -rr -x --exclude .git --exclude node_modules'

## Docker ##

# Destructive: kills all running containers.
alias dockerkillall='ids=$(docker ps -q); [ -n "$ids" ] && docker kill $ids || echo "No running containers."'

# Destructive: removes all stopped containers.
alias dockercleanc='printf "\n>>> Deleting stopped containers\n\n"; ids=$(docker ps -a -q -f status=exited); [ -n "$ids" ] && docker rm $ids || echo "No stopped containers."'

# Destructive: removes all dangling images.
alias dockercleani='printf "\n>>> Deleting untagged images\n\n"; ids=$(docker images -q -f dangling=true); [ -n "$ids" ] && docker rmi $ids || echo "No dangling images."'

# Destructive: removes all dangling volumes.
alias dockercleanv='printf "\n>>> Deleting dangling volumes\n\n"; ids=$(docker volume ls -qf dangling=true); [ -n "$ids" ] && docker volume rm $ids || echo "No dangling volumes."'

# Destructive: container/image/volume cleanup wrapper.
alias dockerclean='dockercleanc || true && dockercleani || true && dockercleanv'

## HTTP Method Shortcuts ##

for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
        alias "${method}"="lwp-request -m '${method}'"
done
